.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-right {
  display: flex;
  gap: 8px;
}

.btn-del {
  background-color: white;
  border-color: red;
  color: red;
}

.btn-del:hover {
  background-color: lightpink;
  border-color: red;
}

.btn-cancel {
  background-color: white;
  color: blue;
}

.btn-cancel:hover {
  background-color: lightblue;
  border-color: blue;
}
