.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-right {
  display: flex;
  gap: 8px;
}

.btn-del {
  background-color: white;
  border-color: #ba1a1a;
  color: #ba1a1a;
}

.btn-del:hover {
  background-color: #ffdad6;
  border-color: #ba1a1a;
}

.btn-cancel {
  background-color: white;
  color: #0f766e;
}

.btn-cancel:hover {
  background-color: #f9fafb;
  border-color: #0f766e;
}
